<ion-content class="ion-padding">

  <div id="container" class="ion-padding">
    <strong>Работает нормально?</strong>
    <p>Если да, то найдите меня в whatsapp +79060510120 или в скайпе agcentory240 или в телеграме @agcentory240</p>
    <p>А вот на кворке писать не надо, иначе я скидку 10% сделать уже вам не смогу :(</p>
    <br>
    <br>
    <ion-button expand="block" color="primary" (click)="doPlay()" [disabled]="!is_loaded">Играть</ion-button>
    <ion-button expand="block" color="secondary" (click)="doStop()" [disabled]="!is_loaded">Остановить</ion-button>

    <div *ngIf="!is_loaded && !is_error">
      <ion-spinner name="lines-small"></ion-spinner> Загрузка источника
    </div>

    <div *ngIf="is_preparing">
      <ion-spinner name="lines-small"></ion-spinner> Запуск плеера
    </div>

    <div *ngIf="current_artist!='' || current_songtitle!=''">
      Сейчас играет: {{current_songtitle}} ( {{current_artist}} )
    </div>

    <div *ngIf="is_error">
      <ion-text color="danger">
        <ion-spinner name="lines-small"></ion-spinner> Ошибка соединения. Повторное подключение...
      </ion-text>
    </div>

  </div>
    
</ion-content>
