<ion-content class="ion-padding">

  <div id="container" class="ion-padding">

    <div class="ion-padding-top ion-text-center">
      <strong>Радио Русский Hessen</strong><br>
      radiorh.eu
    </div>

    <div class="center_cover ion-padding-top">
      <ion-img [src]="current_img" *ngIf="current_img!=''"></ion-img>
    </div>
    
    <div class="ion-padding-top now_playing">
      <p>Сейчас играет</p>
      <p class="song">{{current_songtitle}}</p>
      <p class="artist">{{current_artist}} </p>
    </div>

    
    <div class="ion-padding-top now_playing" *ngIf="next_song!=''">
      <p>Следующий трек</p>
      <p class="artist">{{next_song}} </p>
    </div>
    
    <div class="ion-padding-top buttons">
      
      <ion-button (click)="doPlay()" fill="outline" color="light"  size="large" shape="round" *ngIf="!is_preparing && !play_started">
        <ion-icon slot="icon-only" name="play-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="doStop()" fill="outline" color="light"  size="large" shape="round"  *ngIf="!is_preparing &&  play_started">
        <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
      </ion-button>
    
    </div>


  </div>
    
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center footer">

      <div *ngIf="is_error">

          <ion-spinner  color="danger" name="lines-small"></ion-spinner> <ion-text color="danger">Ошибка соединения. Повторное подключение...</ion-text>
      </div>

      <div *ngIf="!is_loaded && !is_error">
        <ion-spinner name="lines-small"></ion-spinner> Загрузка источника
      </div>
  
      <div *ngIf="is_preparing">
        <ion-spinner name="lines-small"></ion-spinner> Запуск плеера
      </div>

    </ion-title>
  </ion-toolbar>
</ion-footer>